<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
      $(document).ready(function () { 
      listing();
      });

      function listing() {
      $.ajax({
        type: "GET",
        url: "/poem",
        data: {},
        success: function (response) {
          let poems = response['poems']
          
          for (let i = 0; i < poems.length; i++) {
            let body = poems[i]['body']
            let poet = poems[i]['poet']
            let book = poems[i]['book']

            let temp_html = `<div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
            <div class="card h-100">
            <div class="card-body">
            <p class="card-title">${body}</p>
            <p class="card-text">${book}</p>
            <p class="card-title"> - ${poet}</p>
            </div>
            </div>
            </div>
            </div>`
            $('#cards-box').append(temp_html);

            }
    }
  })
}


function posting() {
  $.ajax({
    type: "POST",
    url: "/poem",
    data: {},
    success: function (response) { // 성공하면
    if (response['result'] == 'success') {
      alert(response['msg']);
      }
      }
      })
      }

</script>

<title>시갈피</title>
</head>


<body>
<h1>시갈피</h1>
<button onclick="posting()"type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
  가져오기
</button>
<div id="cards-box"></div>
</body>
</html>